<ion-content [fullscreen]="true">
    <ion-header>
        <ion-toolbar>
            <ion-title size="large">Ionic Search Filter Example</ion-title>
        </ion-toolbar>
    </ion-header>

    <!-- Searchbar -->
    <ion-searchbar placeholder="Filter Data" [(ngModel)]="term"></ion-searchbar>

    <!-- List Data -->
    <ion-list>
        <ion-item *ngFor="let item of filterData | filter:term">
            <ion-label>{{item.firstName}} {{item.lastName}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>